[Unit]
Description=Nightaround Ops validated privileged broker request
Requires=nightaround-ops-privileged.socket
After=nightaround-ops-privileged.socket

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/nightaround-ops-privileged --socket
StandardInput=socket
StandardOutput=socket
StandardError=inherit
User=root
Group=root
UMask=0077
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes
ProtectKernelLogs=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX
IPAddressDeny=any
SystemCallArchitectures=native
ReadWritePaths=/srv/nightaround-ops